.bg2 {
  background-color: rgb(31, 31, 31);
  background-size: cover;
  height: 180vh;
  margin-left: -8px;
  margin-right: -20px;
  width: 100%;
  z-index: -2;
  margin-top: -160px;
  margin-bottom: -39px;
  
  }




  
   
   .blogname2 {
     color: rgb(242, 214, 214);
     font-size: 70px;
     font-family: Lucida handwriting;
     font-weight: bold;
     line-height: 130px;
     margin-left: 100px;
     position: center;  
     padding: 10px 10px;
     text-align: center;
     margin-top: -px ;
   }
 
   
 
   .two {
     text-align: left;
       margin-left: 100px;
       margin-right: 100px;
       margin-top: -1100px;
       color: rgb(255, 255, 255);
       font-size: 20px;
       background-color: rgb(31, 31, 31);
       line-height: 40px;
       border-radius: 0px;
       padding: 20px 30px;
        font-weight: 400;
        line-height: 1.5;
       font-family: 'Raleway', sans-serif;
   }
 
   .prev, .next {
     cursor: pointer;
     position: sticky;
     top: 50%;
     width: auto;
     margin-top: 10px;
     padding: 16px;
     color: rgb(179, 173, 173);
     font-weight: bold;
     font-size: 30px;
     transition: 0.6s ease;
     border-radius: 0 3px 3px 0;
     user-select: none;
     background-color: black;
    }
   
    /* Position the "next button" to the right */
    .next {
     right: 0px;
     border-radius: 3px 0 0 3px;
     margin-left: 1470px;
    }
   
    .prev {
     left: 0;
     border-radius: 3px 0 0 3px;

   
    }
   
    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
     background-color: rgba(157, 149, 149, 0.8);
     color: black;
    }
   
   
 
     .bars {
       font-size: 30px;
       margin-left: 40px;
       color: white;
       line-height: 80px;
       cursor: pointer;
       display: none;
     }
     
     
     #check {
       display: none;
     }
     
     @media (max-width: 800px) {
       .bars {
         display: block;
       }
   
       nav ul{
         position: absolute;
         width: 100%;
         background-color: rgba(27, 26, 26, 0.837);
         height: 100vh;
         top: 63px;
         left: -110%; 
         transition: all 1s;
       }
   
       nav ul li{
         display: block;
         padding: 30px 180px;
         text-transform: uppercase;
       }
   
       .bg2 {
        background-image: url(images/solidcolour.jpg);
        background-size: cover;
        height: 210vh;
        margin-left: -8px;
        
        width: 100%;
        z-index: -2;
        margin-top: -160px;
        margin-bottom: -39px;
        
        }
      
   
       #check:checked ~ ul {
         left: 0;
       }
 
       @media only screen and (max-width:800px) {
         /* For tablets: */
         .main {
           width: 80%;
           padding: 0;
         }
         .right {
           width: 100%;
         }
     }
   }
       
 