.bg {
  background-image: url(images/background\ 5.jpg) ;
  background-size: cover;
  height: 101vh;
 margin-left: -8px;
 margin-right: -8px;
 z-index: -2;
 margin-top: -100px;

  }
  .name01 {
    color: rgb(233, 228, 228);
    line-height: 145px;
    margin-top: -560px;
    font-size: 140px;
    margin-left: 20px; 
    padding-left: 75px;
    font-family: Fantasy, copperplate;
    z-index: 3;
  }

  .name02{
    color: rgb(233, 228, 228);
    line-height: 185px;
    font-size: 140px;
    margin-left: 20px; 
    padding-left: 90px;
    font-family: Fantasy, copperplate;
    margin-top: -130px;
  
  }

  .name03{
    color: rgb(233, 228, 228);
    line-height: 160px;
    font-size: 150px;
    font-weight: bold;
    margin-left: 20px; 
    padding-left: 90px;
    font-family: Fantasy, copperplate;
    margin-top: -140px;

  }

  h1{
    transform: scale(0.94 );
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1); 
  }

  .footer {
    padding: 2px;
     text-align: center;
     font-size: 20px;
     background: rgba(14, 13, 13, 0.663);;
     margin-bottom: -30px;
     margin-top: -500px;
     color: white;
     margin-left: -7px;
     margin-right: -8px;
     
   
     
   }