

.nav {
  background: rgba(14, 13, 13, 0.663);
  height: 90px;
  width: 101%;
  position: sticky;
  margin-top: -8px;
  margin-left: -8px;
 
  
}


.nav ul{
  float: right;
  margin-right: 40px;
  
}

.nav ul li{
  margin: 0px;
  margin-right: 30px;
  margin-top: 15px;  
  display: inline-block;
  border-right: 4px solid #bbb;  
  font-weight: bold;
}

.nav li:last-child{
border-right: none;
}

.nav ul li a {
  font-size: 25px;
  color: white;
  text-decoration: none;
  padding-right: 5px;
}
 
.nav li a:hover{

  text-decoration: underline ;
  color: rgb(227, 198, 215);
 
}
.nav li .active{
  text-decoration: underline ;
  color: rgb(227, 198, 215);
 
}

 button{
  background-color: transparent;
  color:#fff ;
  cursor: pointer;
  border:none;

}

.nav #open{
  padding-top: 0px;

}

.hiddenlinks{
  float: left;
}

.navbar #open .hiddenLinks{
  display: inherit;
  margin-left: 30px;
}

.navbar #close .hiddenLinks{
  display: none !important;
}

.navbar #open a{
  width: 70px;
  margin:5px
}


